div#content {
  width: 95%;
  max-width: 1280px;
}

div#Description {
	position: relative;
}

div#floater {
  position:relative; 
  top:-138px; 
  left:170px; 
}

ul { overflow: hidden; }

*::-moz-selection {
    background-color: #ade5ff;
}
*::selection {
    background-color: #ade5ff;
}

a:link { 
    color: #3a2c1e;
}

a:hover { 
  color: #7a5b3d; 
}

/* Content formatting */
div#desc-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#header-image {
	position: relative;
	width: 1216px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header-image > img {
	max-width: 100%;
}

a#header-link {
	position: absolute;
	right: 3px;
	top: 6px;
}

div#goal, div#infobox {
	margin-top: 400px;
}

div#current-work {
	float: right;
	width: 500px;
}

div#weapons {
	width: 580px;
}

div#weapons img {
	float: left;
	padding-right: 5px;
}

/* Fix buttons for smaller screens */
@media screen and (max-width: 1300px) {
	div#buttons {
		position: relative;
	}

	div#buttons img {
		width: 100%;
	}

	div #buttons > a {
		position: absolute;
		width: 19.7%;
	}

	div#buttons > a:nth-child(1) {
		left: 0;
	}

	div#buttons > a:nth-child(2) {
		left: 20.1%;
	}

	div#buttons > a:nth-child(3) {
		left: 40.2%;
	}

	div#buttons > a:nth-child(4) {
		left: 60.3%;
	}

	div#buttons > a:nth-child(5) {
		right: 0;
	}

}
