/* Redesign #1 */
#projectHeader,
#infobox {
  display: none;
}
body {
  background: url("images/bg.jpg") fixed;
  min-width: 1154px;
  overflow-x: hidden;
}
div#content {
  max-width: 1000000px;
}
/* General Styling */
@font-face {
  font-family: SketchRockwell;
  src: url("images/SketchRockwell-Bold.ttf");
}
ul {
  overflow: hidden;
}
*::-moz-selection {
  background-color: #ade5ff;
}
*::selection {
  background-color: #ade5ff;
}
a {
  color: #2a2722;
}
a:hover {
  color: #ca8c3d;
}
div.anchored {
  border: 0;
}
/* Content formatting */
#wholepage {
  margin-top: -50px;
}
#DescToggle a:not([href="#"]) {
  display: none;
}
#Description {
  width: 1154px;
  min-height: 850px;
  margin: auto;
  padding-bottom: 40px;
  background-color: #c9bcb3;
  border: 0;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.57);
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.57);
  font-size: 16px;
  line-height: 24px;
}
#Description #header {
  height: 400px;
}
#Description #header #header-image {
  position: absolute;
  top: -26px;
  left: -56px;
}
#Description #header #header-image img.gauge {
  position: absolute;
  top: 20px;
  left: 354px;
}
#Description #header #buttons {
  position: absolute;
  top: 20px;
  left: 430px;
  font-family: SketchRockwell;
  font-size: 32px;
  word-spacing: 20px;
}
#Description #header #news {
  width: 160px;
  height: 220px;
  position: absolute;
  top: 415px;
  right: 47px;
  z-index: 10;
  text-shadow: -1px -1px 3px #292929, 1px 1px 3px #cecece;
}
#Description #header #news,
#Description #header #news a {
  color: #d5d5d5;
}
#Description #header #news dt {
  font: 16px SketchRockwell;
  margin-top: 20px;
}
#Description #header #news dd {
  font: 16px Arial;
  margin-left: 0;
}
#Description section.content {
  padding: 0 40px;
}
#Description section.content + section.content {
  display: none;
}
#Description #goal {
  position: relative;
}
#Description #goal > h2 > img {
  position: relative;
  left: -17px;
  top: 0;
}
#Description #goal > div {
  position: absolute;
  left: 190px;
  top: 80px;
  width: 670px;
}
#Description .boxes {
  width: 922px;
  height: 281px;
  margin: 50px auto;
  margin-top: 40px;
}
#Description .boxes > div {
  position: relative;
  background-image: url("images/dlbox.png");
  margin: 20px;
  display: inline-block;
  width: 381px;
  height: 261px;
  text-align: left;
  padding: 0 20px;
  float: left;
}
#Description .boxes > div h3 {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#Description .boxes > div em {
  color: #877d74;
  font-size: 18px;
}
#Description .boxes > div a {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: #ca8740;
  font-size: 16px;
  font-weight: bold;
}
#Description .boxes > div a::before {
  content: url("images/dlcog.png");
  position: relative;
  top: 10px;
  left: 0;
}
#Description div.newsfloater {
  float: right;
  width: 200px;
  height: 220px;
}
#Description .clear {
  clear: both;
}
#Description #detail:target #main {
  display: none;
}
#Description #detail:target #detail-section {
  display: block;
}
#Description .video {
  position: absolute;
  left: 491px;
  top: 1131px;
}
/* Votes and comments */
#VoteToggle,
#Votes,
#cmtbar,
#CommentWindow,
#comments {
  width: 1154px;
  margin: auto;
}
.newcomment {
  border: 0;
  margin-bottom: 1em !important;
}
.comment {
  background: #e1e0de;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #000, inset 0 1px 3px #fff;
  box-shadow: 1px 1px 3px #000, inset 0 1px 3px #fff;
  padding: 10px;
}
/* Fixes for smaller screens */
@media screen and (max-width: 1154px) {
  body {
    overflow-x: scroll;
  }
}
