div#content {
  width: 95%;
  max-width: 1280px;
}

div#floater {
  position:relative; 
  top:-138px; 
  left:170px; 
}

ul { overflow: hidden; }

*::-moz-selection {
    background-color: #ade5ff;
}
*::selection {
    background-color: #ade5ff;
}

a:link { 
    color: #3a2c1e;
}

a:hover { 
  color: #7a5b3d; 
}
